# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini

# Log files
*.log

# Node dependency directories
node_modules/
jspm_packages/

# Project zip files or large images
*.zip
*.png
.gemini/
.agents/
.vscode/
